<!DOCTYPE html>
<head>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="~/Css/_layout.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <div class="info">
            <div class="phone-number">
                <ul>
                    <li>
                        <i class='fas fa-headset'></i>
                        <a href="tel:1800545457"> 1800 54 54 57</a>
                    </li>
                    <li class="address">
                        <i class='fas fa-map-marked-alt'></i>
                        <a href="https://maps.app.goo.gl/QdvskRTgQD9Vd9Jq9"> Cửa Hàng</a>

                    </li>
                </ul>
            </div>
            <div class="img">
                <a href="@Url.Action("Gocnhinnguoidung", "Ring")"><img src="https://cdn.pnj.io/images/logo/pnj.com.vn.png" /></a>
            </div>
            <div class="cuoi">
                <ul>
                    <li>
                        <i class="fas fa-shopping-cart"></i>
                        <a href="@Url.Action("ShowCart", "ShoppingCart")" id="btn-regiEster">Giỏ Hàng</a>
                    </li>
                    <i class="fa-solid fa-right-from-bracket fa-beat"></i>
                    <li>
                        <i class="fas fa-users"></i>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Action("Logout", "Account")" id="btn-logout">@User.Identity.Name (Đăng xuất)</a>
                        }
                        else
                        {
                            <a href="@Url.Action("LoginCustomer", "LoginUser")" id="btn-register">Đăng nhập</a>
                        }
                    </li>
                    <li>
                        <i class="fa-right-from-bracket"></i>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Action("Logout", "Account")" id="btn-logout">Đăng xuất</a>
                        }
                        else
                        {
                            <a href="#!" id="btn-register"></a>
                        }
                    </li>

                </ul>
            </div>
        </div>
        <hr style="margin: auto">
        <div class="menu">
            <ul class="nav-menu">
                <li><a href="@Url.Action("LocNhan", "Ring")">Nhẫn</a></li>
                <li><a href="@Url.Action("LocBongTai", "Ring")">Bông Tai</a></li>
                <li><a href="@Url.Action("LocDayCo", "Ring")">Dây Cổ</a></li>
                <li><a href="@Url.Action("LocVong", "Ring")">Vòng</a></li>
                <li><a href="@Url.Action("LocDongHo", "Ring")">Đồng Hồ</a></li>
                <li>
                    <div class="dropdown">
                        <a class="dropbtn" href="@Url.Action("LocThuongHieu", "Ring")">Thương Hiệu</a>
                        <div class="dropdown-content">
                            <div class="row">
                                <div class="column3">
                                    <p>
                                        <i class="fas fa-award"></i>Thương Hiệu
                                    </p>
                                </div>
                                <div class="column1">
                                    <img src="https://cdn.pnj.io/images/2023/brand-search-bar/watch.svg" />

                                    <img src="https://cdn.pnj.io/images/2023/brand-search-bar/style.svg" />

                                    <img src="https://cdn.pnj.io/images/2023/brand-search-bar/disney.svg" />

                                    <img src="https://cdn.pnj.io/images/2023/brand-search-bar/pnj.svg" />

                                    <img src="https://cdn.pnj.io/images/2023/brand-search-bar/silver.svg" />

                                    <img src="https://cdn.pnj.io/images/2023/04/hello-kitty/sanrio2.svg" />
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li><a href="@Url.Action("LocQuaTang", "Ring")">Quà Tặng</a></li>
            </ul>
            <div class="search">
                <form id="filter-form" action="@Url.Action("TimKiem", "Ring")" method="get" data-url="@Url.Action("TimKiem", "Ring")">
                    <input id="searchInput" type="text" name="keyword" placeholder="Tìm kiếm nhanh" />
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>

            <!-- JavaScript -->
            <script>
                document.getElementById("filter-form").addEventListener("submit", function (e) {
                    e.preventDefault();

                    var keyword = document.getElementById("searchInput").value;
                    var form = e.target;
                    var filterUrl = form.getAttribute("data-url");

                    if (keyword && keyword !== "") {
                        filterUrl += "?keyword=" + encodeURIComponent(keyword);
                    }
                    window.location.href = filterUrl;
                });
            </script>
        </div>
        <!--Slide-->
    </div>
    @RenderBody()

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Hãy liên hệ với chung tôi thông qua:</span>
        </div>
        <!-- Left -->
        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Công Ty Vàng Bạc Đá Quý
                    </h6>
                    <p>
                        Giấy chứng nhận đăng ký doanh nghiệp: 01234567890 do Sở Kế hoạch & Đầu tư TP.HCM cấp lần đầu ngày 02/01/5321. Ngành, nghề kinh doanh
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Sản Phẩm
                    </h6>
                    <p>
                        <a href="@Url.Action("LocNhan", "Ring")" class="text-reset">Nhẫn</a>
                    </p>
                    <p>
                        <a href="@Url.Action("LocBongTai", "Ring")" class="text-reset">Bông Tai</a>
                    </p>
                    <p>
                        <a href="@Url.Action("LocDayCo", "Ring")" class="text-reset">Dây Cổ</a>
                    </p>
                    <p>
                        <a href="@Url.Action("LocVong", "Ring")" class="text-reset">Vòng</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Liên Kết Hữu Ích
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Cài đặt</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Đặt Hàng</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Gúp đỡ</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Liên Hệ</h6>
                    <p><i class="fas fa-home me-3"></i>Thành Phố Hồ Chí Minh</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        PNJ@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> Sđt Mua Bán: 01 234 567 88</p>
                    <p><i class="fas fa-print me-3"></i> SĐT Tư Vấn 09 8765 4321</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 PNJ.com:
        <a class="text-reset fw-bold" href="@Url.Action("Gocnhinnguoidung", "Ring")">PNJ.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
