@model IEnumerable<Demo.Models.Ring>

@{
    ViewBag.Title = "LocGiaTien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LocGiaTien</h2>
@using (Html.BeginForm("FilterByPrice", "Ring"))
{
    <label for="minPrice">Giá tối thiểu:</label>
    <input type="number" name="minPrice" step="0.01">
    <label for="maxPrice">Giá tối đa:</label>
    <input type="number" name="maxPrice" step="0.01">
    <input type="submit" value="Lọc">
}

<!-- Hiển thị danh sách sản phẩm sau khi lọc -->
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Material)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JewelryType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Collection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoldCarat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GemType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaterialColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagePro)
        </td>
        <td>
            <a href="/ShoppingCart/AddToCart/@item.RingID" class="btn btn-default">Buy</a>
            @Html.ActionLink("Detail", "Detail", new { id = item.RingID })
        </td>
    </tr>